{% load static %}

<div class="container">
    <footer class="d-flex flex-wrap justify-content-center align-items-center ">
        <div class="row lh-1">
            <div class="col-12 mb-2">
                <span class="mb-3 mb-md-0 text-body-secondary">Desarrollado por:</span>
            </div>
            <div class="col-12">
                <span class="mb-3 mb-md-0 text-body-secondary">
                    <img  src="{% static 'images/ideas_pro_completo.png' %}" width="150" alt="IdeasPro logo">
                </span>
            </div>
        </div>
    </footer>
  </div>