{% load static %}

<div class="container">
    <footer class="d-flex flex-wrap justify-content-center align-items-center ">
        <div class="row lh-1">
            <div class="col-12 mb-3">
                <span class="mb-3 mb-md-0 text-body-secondary">Desarrollado por:</span>
            </div>
            <div class="col-12">
                <span class="mb-3 mb-md-0 text-body-secondary">
                    <strong><img  src="{% static 'images/ideas_pro.png' %}" width="30" height="30" alt="IdeasPro logo">IdeasPro</strong>
                </span>
            </div>
        </div>
    </footer>
  </div>