{% extends 'base.html' %}

{% load static %}

{% block title %}Pacientes{% endblock %}

{% block content %}
<header class="p-3 color-tuimagen">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <img class="bi me-2" src="{% static 'images/tuimagenlogo_blanco.png' %}" width="40" height="32" alt="Tu Imagen logo">
        <span class="fs-4"> Tu Imagen</span>
      </a>

      <div class="text-end">
          <h4>Lista de Espera</h4>
      </div>
    </div>
  </div>
</header>

<div class="container mt-4">
  {% block main %}{% endblock main %}
</div>


{% endblock content %}
