<!-- templates/listaEspera/ver_lista_espera.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Pacientes{% endblock %}

{% block content %}

    <div class="container-fluid vh-100 d-flex align-items-center bg-container container-img" style="background-image: url('{% static 'images/box.jpg' %}');">
        <div class="container transparent-box px-4 py-3">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <img src="{% static 'images/tuimagenlogo2.png' %}" alt="Tu imagen Logo" class="img-fluid mb-4">

                    <form method="post" id="formLista_espera" action="{% url 'solicitar_numero' %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">+56</span>
                            <input type="text" name="numero_telefono" id="numero_telefono" class="form-control" placeholder="Ingresa su número telefónico" aria-describedby="basic-addon1" pattern="9[0-9]{8}" title="Número Telefónico Inválido">
                          </div>

                        <div class="form-group d-grid gap-2 col-8 mx-auto">
                            <input type="hidden" name="boton_presionado" id="boton_presionado" value="">
                            <button class="btn btn-success ingresar-btn" type="submit" onclick="setBotonPresionado('con_numero')">Solicitar</button>
                            <button class="btn btn-link no-ingresar-btn" type="submit" onclick="setBotonPresionado('sin_numero')">No ingresar mi N° Telefónico</button>
                        </div>

                    </form>





                    <div id="tecladoNumerico" class="container">
                        <!-- Botones del teclado numérico -->
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary btn-lg" onclick="agregarNumero(1)">1</button>
                            <button class="btn btn-primary btn-lg" onclick="agregarNumero(2)">2</button>
                            <button class="btn btn-primary btn-lg" onclick="agregarNumero(3)">3</button>
                        </div>
                        <br>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary btn-lg" onclick="agregarNumero(4)">4</button>
                            <button class="btn btn-primary btn-lg" onclick="agregarNumero(5)">5</button>
                            <button class="btn btn-primary btn-lg" onclick="agregarNumero(6)">6</button>
                        </div>
                        <br>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary btn-lg" onclick="agregarNumero(7)">7</button>
                            <button class="btn btn-primary btn-lg" onclick="agregarNumero(8)">8</button>
                            <button class="btn btn-primary btn-lg" onclick="agregarNumero(9)">9</button>
                        </div>
                        <br>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary btn-lg" disabled></button>
                            <button class="btn btn-primary btn-lg" onclick="agregarNumero(0)">0</button>
                            <button class="btn btn-danger btn-lg" onclick="borrarNumero()"><i class="bi bi-backspace"></i></button>
                        </div>
                        
                    </div>

                    {% if ticket_espera %}
                        <h1>Su numero de espera es {{paciente_espera.centro}}{{ticket_espera.numero_espera}}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>

    <script src="{% static 'js/num_telefono.js' %}" ></script>
    <script src="{% static 'js/envios_formulario_ticket.js' %}" ></script>

{% endblock %}



