<!-- templates/listaEspera/ver_lista_espera.html -->
{% extends 'listaEspera/header.html' %}

{% load static %}

{% block title %}Clínica{% endblock %}

{% block main %}
    <h2>Lista de Espera</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th>Teléfono</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="tbodyListaEspera">
            {% comment %} {% for lista in tomas_espera %}
                <tr>
                    <th>{{lista.centro}}{{lista.numero_espera}}</th>
                    <td>{{ lista.fecha_toma|date:"H:i" }}</td>
                    <td>{{ lista.fecha_toma|date:"d-m-Y" }}</td>
                    <td>{{ lista.paciente.numero_telefono }}</td>
                    <td>
                        <form method="post" action="{% url 'atender' pk=lista.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{ lista.pk }}">
                            <input type="submit" value="Atender">
                        </form>
                    </td>
                </tr>
            {% endfor %} {% endcomment %}
        </tbody>
    </table>

    <script src="{% static 'js/atencion_pacientes.js' %}" ></script>
{% endblock %}
