<!-- templates/listaEspera/ver_lista_espera.html -->
{% extends 'listaEspera/header.html' %}

{% load static %}

{% block title %}Clínica{% endblock %}

{% block main %}

    <div class="alert alert-warning d-none" id="alertPacientes" role="alert">
        <i class="fa-solid fa-person-circle-exclamation fa-beat-fade fa-xl me-2"></i>
        <strong>¡Hay Pacientes con más de 10 minutos de espera!</strong>
        Son los Tickets que estan de color <strong class="text-danger" >Rojo</strong>
    </div>
    
    <table class="table table-responsive table-bordered border-dark text-center align-middle">
        <thead class="table-tuimagen">
            <tr>
                <th>N° Ticket</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th>Teléfono</th>
                <th><i class="fa-solid fa-user-clock"></i></th>
            </tr>
        </thead>
        <tbody id="tbodyListaEspera">

        </tbody>
    </table>

    <script src="{% static 'js/atencion_pacientes.js' %}" ></script>
{% endblock %}
