:root {
    --color-fondo: #892a7d;
    --color-texto: white;
  }

.color-tuimagen,
.color-tuimagen:active {
    background-color: var(--color-fondo) !important;
    color: var(--color-texto) !important;
}


.btn_rut:active {
    opacity: 0.5;
}

.table-tuimagen th {
    background-color: var(--color-fondo) !important;
    color: var(--color-texto) !important;
}

.btn-outline-tuimagen {
    color: var(--color-fondo);
    background-color: transparent;
    background-image: none;
    border: 1px solid var(--color-fondo);
  }
  
.btn-outline-tuimagen:hover {
    color: var(--color-texto);
    background-color: var(--color-fondo);
    border-color: var(--color-fondo);
}


.bg-container {
    background-size: cover;
    background-position: center;
}

.container-img {
    padding: 150px; /* Ajusta el padding hacia la izquierda */
}

.transparent-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 15px; /* Reducimos el espacio interno */
}

/* Estilos para el teclado numérico */
#tecladoNumerico {
    padding: 1.5rem; /* Reducimos el espacio interno */
}

#tecladoNumerico button {
    width: 80px; /* Ajustamos el ancho de los botones */
    height: 60px; /* Ajustamos la altura de los botones */
    margin: 5px; /* Reducimos el margen entre los botones */
    font-size: 1.8rem; /* Reducimos el tamaño de la fuente */
}


/* Estilos para los botones de ingresar */
.ingresar-btn {
    font-size: 1.2rem; /* Ajustamos el tamaño de la fuente */
}

.no-ingresar-btn {
    font-size: 1rem; /* Ajustamos el tamaño de la fuente */
}

.icono-personalizado {
    border: none !important;
  }
